*.sh
target/
*.jar
*.war
*.ear
*.nar
*.class

*.log
logs/

*.log
logs/

.DS_Store
Thumbs.db
.directory
*~
*.swp
*.bak


.docker/

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

.env
.env.local
application-local.yml

target/